.tweet-footer{
    padding: 15px 15px 15px 30px !important;
}

.tweet-header{
    padding: 15px 15px 15px 30px !important;
}

.tweet-name{
    color: #2a3142;
    letter-spacing: 1px;
    font-weight: 600;
}

textarea {
    resize: none;
}

#btnComment{
    float: right;
}